Assessment API/V1/Schema/tieto-edu-assessment-v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema  targetNamespace="http://open.tieto.com/edu/assessment/v1"
            xmlns="http://open.tieto.com/edu/assessment/v1"
            xmlns:xs="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified">
    <xs:annotation>
        <xs:documentation>
            Tieto Education - XML schema for Assessment API
            Version: 1.0
        </xs:documentation>
    </xs:annotation>

    <xs:element name="assessments">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="compulsoryschoolassessment" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="compulsoryschoolassessment">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="unit" type="unittype" minOccurs="1" maxOccurs="1" />
                <xs:element name="group" type="grouptype" minOccurs="1" maxOccurs="1" />
                <xs:element name="student" type="studenttype" minOccurs="1" maxOccurs="1" />
                <xs:element name="subject" type="subjecttype" minOccurs="1" maxOccurs="1" />
                <xs:element name="assessmentvalue" type="assessmentvaluetype" minOccurs="1" maxOccurs="1" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="unittype">
        <xs:sequence>
            <xs:element name="id" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="uniqueid" type="guidtype" minOccurs="1" maxOccurs="1" />
            <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="grouptype">
        <xs:sequence>
            <xs:element name="id" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="uniqueid" type="guidtype" minOccurs="1" maxOccurs="1" />
            <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="studenttype">
        <xs:sequence>
            <xs:element name="id" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="uniqueid" type="guidtype" minOccurs="1" maxOccurs="1" />
            <xs:element name="socialsecuritynumber" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="firstname" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="lastname" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="privacy" type="privacytype" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="subjecttype">
        <xs:sequence>
            <xs:element name="id" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="uniqueid" type="guidtype" minOccurs="1" maxOccurs="1" />
            <xs:element name="subjectname" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="subjectcode" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="officialsubjectcode" type="xs:string" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="assessmentvaluetype">
        <xs:sequence>
            <xs:element name="date" type="xs:date" minOccurs="0" maxOccurs="1" />
            <xs:element name="schoolyear" type="xs:int" minOccurs="0" maxOccurs="1" />
            <xs:element name="status" type="assessmentstatus" minOccurs="1" maxOccurs="1" />
            <xs:element name="assessmentlevel" type="assessmentleveltype" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>


    <xs:simpleType name="assessmentleveltype">
        <xs:restriction base="xs:string">
            <xs:enumeration value="None" />
            <xs:enumeration value="NotYet" />
            <xs:enumeration value="Meets" />
            <xs:enumeration value="Exceeds" />
        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="assessmentstatus">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Draft" />
            <xs:enumeration value="Ready" />
            <xs:enumeration value="Withdrawn" />
            <xs:enumeration value="Published" />
        </xs:restriction>
    </xs:simpleType>


    <xs:complexType name="privacytype">
        <xs:simpleContent>
            <xs:extension base="xs:boolean">
                <xs:attribute name="level" type="xs:int" use="optional" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    
    <xs:simpleType name="guidtype">
        <xs:restriction base="xs:string">
            <!-- pattern matches canonical GUID: 8-4-4-4-12 hex digits -->
            <xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
        </xs:restriction>
    </xs:simpleType>
    
</xs:schema>
