Personnel API/v5/Schema/tieto-edu-personnel-v5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema  targetNamespace="http://open.tieto.com/edu/personnel/v5"
            xmlns="http://open.tieto.com/edu/personnel/v5"
            xmlns:xs="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified">
  <xs:annotation>
    <xs:documentation>
      Tieto Education - XML schema for personnel
      Version: 5.0
    </xs:documentation>
  </xs:annotation>
  
  <xs:element name="personnel">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="properties"  minOccurs="1" maxOccurs="1"/>
        <xs:element ref="person"  minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="teacherlicenseextract"  minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="properties">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="datetime" type="xs:dateTime" />
        <xs:element name="datasource" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="comments" />
        <xs:element minOccurs="1" maxOccurs="1" type="typeofservice" name="type" />
        <xs:element type="timeframe" name="timeframe" minOccurs="1" maxOccurs="1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="timeframe">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="start" type="xs:dateTime"/>
      <xs:element minOccurs="1" maxOccurs="1" name="end" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="typeofservice">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CompletePersonnel" />
      <xs:enumeration value="DeltaPersonnel" />
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="email" type="xs:string" />

  <xs:element name="person">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:string"  minOccurs="0" maxOccurs="1" />
        <xs:element name="personid" type="xs:string"  minOccurs="1" maxOccurs="1" />
        <xs:element name="firstname" type="xs:string"  minOccurs="1" maxOccurs="1" />
        <xs:element name="middlename" type="xs:string"  minOccurs="0" maxOccurs="1" />
        <xs:element name="lastname" type="xs:string"  minOccurs="1" maxOccurs="1" />

        <xs:element name="emailhome" type="xs:string"  minOccurs="0" maxOccurs="1" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="tel" />
        <xs:element minOccurs="0" maxOccurs="1" ref="adr" />

        <xs:element minOccurs="0" maxOccurs="1" name="gender" type="xs:string"/>
        <xs:element minOccurs="0" maxOccurs="1" name="bday" type="xs:string"/>
        <xs:element name="geographickeycode" type="xs:string" minOccurs="0" />
        <xs:element name="municipalitycode" type="xs:string" minOccurs="0" />
        <xs:element name="municipalityname" type="xs:string" minOccurs="0" />
        <xs:element name="nativelanguage" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        
        
        <xs:element ref="privacy" minOccurs="1" maxOccurs="1" />
        <xs:element ref="status" minOccurs="0" />
        <xs:element ref="teachingqualification"  minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="workarea"  minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="employment"  minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="timestamp" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="change">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Add" />
            <xs:enumeration value="Update" />
            <xs:enumeration value="Delete" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="place">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:string"  minOccurs="1" maxOccurs="1" />
        <xs:element name="name" type="xs:string"  minOccurs="0" maxOccurs="1" />
        <xs:element name="schooltype" type="xs:string"  minOccurs="0" maxOccurs="1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="teachingqualification">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schooltype" type="xs:string" minOccurs="1" maxOccurs="1"/>
        <xs:element name="fromschoolyear" type="xs:int" minOccurs="1" maxOccurs="1"/>
        <xs:element name="toschoolyear" type="xs:int" minOccurs="1" maxOccurs="1"/>
        <xs:element name="subject" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="placement">
    <xs:complexType>
    <xs:sequence>
      <xs:element name="id" type="xs:string" minOccurs="0" maxOccurs="1"/>
     <xs:element name="positionid" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <!--<xs:element name="externalid" type="xs:string" minOccurs="0" maxOccurs="1"/> -->
      <xs:element name="extunitid" type="xs:string" minOccurs="0" maxOccurs="1"/> 
      <xs:element name="signature" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="category" minOccurs="1" maxOccurs="1"/>
      <xs:element name="start" type="xs:date" minOccurs="1" maxOccurs="1"/>
      <xs:element name="end" type="xs:date" minOccurs="1" maxOccurs="1" default="9999-12-31"/>
      <xs:element ref="place" minOccurs="0" maxOccurs="1"/>
      <xs:element name="percent" type="xs:double" minOccurs="0" maxOccurs="1"/>
      <xs:element name="titlecode" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="titlename" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="employment">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="employeenumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <!--<xs:element name="externalid" type="xs:string" minOccurs="0" maxOccurs="1"/> -->
        <xs:element name="percent" type="xs:double" minOccurs="0" maxOccurs="1"/>
        <xs:element name="years" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="start" type="xs:date" minOccurs="1" maxOccurs="1"/>
        <xs:element name="end" type="xs:date" minOccurs="1" maxOccurs="1" default="9999-12-31"/>
        <xs:element name="email" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="email2" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="phone" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="titlecode" type="xs:string" minOccurs="1" maxOccurs="1"/>
        <xs:element name="titlename" type="xs:string" minOccurs="1" maxOccurs="1"/>
        <xs:element type="employmenttype" minOccurs="1" maxOccurs="1" name="type"/>
        <xs:element ref="placement" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:simpleType name="employmenttype">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Other" />
      <xs:enumeration value="Project" />
      <xs:enumeration value="UntilFurther" />
      <xs:enumeration value="Substitute" />
      <xs:enumeration value="CertainTime" />
      <xs:enumeration value="Unknown" />
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="workarea">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="place" minOccurs="1" maxOccurs="1"/>
        <xs:element name="start" type="xs:date" minOccurs="1" maxOccurs="1"/>
        <xs:element name="end" type="xs:date" minOccurs="1" maxOccurs="1"/>
        <xs:element name="code" type="xs:string" minOccurs="1" maxOccurs="1"/>
        <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
        <xs:element name="note" type="xs:string" minOccurs="1" maxOccurs="1"/>
        <xs:element name="hours" type="xs:string" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="category">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="TeachingPersonnel" />
        <xs:enumeration value="OtherPersonnel" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="privacy">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="None" />
        <xs:enumeration value="Level1" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  
  <xs:element name="status">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="Normal" />
        <xs:enumeration value="Deceased" />
        <xs:enumeration value="Emigrated" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <!-- Contact Info-->
  <xs:element name="tel">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute default="1" name="teltype">
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="1" />
                <xs:enumeration value="2" />
                <xs:enumeration value="3" />
                <xs:enumeration value="4" />
                <xs:enumeration value="Voice" />
                <xs:enumeration value="Fax" />
                <xs:enumeration value="Mobile" />
                <xs:enumeration value="Pager" />
                <xs:enumeration value="Work" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="adr">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="pobox" />
        <xs:element minOccurs="0" maxOccurs="1" ref="extadd" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="street" />
        <xs:element minOccurs="0" maxOccurs="1" ref="locality" />
        <xs:element minOccurs="0" maxOccurs="1" ref="region" />
        <xs:element minOccurs="0" maxOccurs="1" ref="pcode" />
        <xs:element minOccurs="0" maxOccurs="1" ref="country" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pobox" type="xs:string" />
  <xs:element name="extadd" type="xs:string" />
  <xs:element name="street" type="xs:string" />
  <xs:element name="locality" type="xs:string" />
  <xs:element name="region" type="xs:string" />
  <xs:element name="pcode" type="xs:string" />
  <xs:element name="country" type="xs:string" />
  
  <xs:element name="teacherlicenseextract" type="teacherLicenseExtractType" />
  
  <xs:complexType name="teacherLicenseExtractType">
    <xs:sequence>
      <xs:element name="teachers" type="teachersType" minOccurs="0" />
      <xs:element name="missingteachers" type="missingTeachersType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="teachersType">
    <xs:sequence>
      <xs:element name="teacher" type="teacherType" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="teacherType">
    <xs:annotation>
      <xs:documentation>Contains information for a teacher</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="socialsecuritynumber" type="socialSecurityNumberType">
        <xs:annotation>
          <xs:documentation>Social security number in format YYYYMMDD-NNNN</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="firstname" type="nonEmptyStringType" minOccurs="0" />
      <xs:element name="middlename" type="nonEmptyStringType" minOccurs="0" />
      <xs:element name="lastname" type="nonEmptyStringType" minOccurs="0" />
      <xs:element name="givenname" type="nonEmptyStringType" minOccurs="0" />
      <xs:element name="warning" type="warningType" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="license" type="licenseType" minOccurs="1" maxOccurs="unbounded" />
      <xs:element name="foreignexamtitle" type="nonEmptyStringType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Foreign Exam title</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="qualifications" type="qualificationsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>One or several qualifications describing items for which a teacher is qualified to teach</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="missingTeachersType">
    <xs:sequence>
      <xs:element name="missingteacher" type="missingTeacherType" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="missingTeacherType">
    <xs:annotation>
      <xs:documentation>Info for teacher not found in license register</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="socialsecuritynumber" type="socialSecurityNumberType">
        <xs:annotation>
          <xs:documentation>Social security number in format YYYYMMDD-NNNN</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="licenseType">
    <xs:annotation>
      <xs:documentation>Basic information about a license. </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="typeoflicense" type="nonEmptyStringType">
        <xs:annotation>
          <xs:documentation>Type of license, TEACHER or PRESCHOOL_TEACHER</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="lecturertitle" type="nonEmptyStringType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Lecturer title</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="warningType">
    <xs:annotation>
      <xs:documentation>Basic information about a warning. </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="decisiondate" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Date of decision to warn teacher</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="qualificationsType">
    <xs:sequence>
      <xs:element name="qualification" type="qualificationType" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="qualificationType">
    <xs:annotation>
      <xs:documentation>A qualification describes an item for which a teacher is qualified to teach</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="typeofqualification" type="nonEmptyStringType">
        <xs:annotation>
          <xs:documentation>The type of qualification, SUBJECT, SCHOOL_TYPE or STUDY_PATH</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="typeofschooling" type="nonEmptyStringType">
        <xs:annotation>
          <xs:documentation>Code for type of schooling</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="code" type="nonEmptyStringType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Code identifying subject or study_path</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="subcode" type="nonEmptyStringType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Sub code for generic subjects, like MOD (Modern languages)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name" type="nonEmptyStringType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Name of the qualification</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fromyear" type="xs:int" minOccurs="0">
        <xs:annotation>
          <xs:documentation>The start year for which this qualification applies</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="toyear" type="xs:int" minOccurs="0">
        <xs:annotation>
          <xs:documentation>The end year for which this qualification applies</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="specializationcode" type="nonEmptyStringType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Code indicating that a qualification is the result of special pedagogue degree.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="specializationname" type="nonEmptyStringType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Name of spexialization</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="studypathcode" type="nonEmptyStringType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Code of studyPath</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="studypathname" type="nonEmptyStringType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Name of studyPath</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="socialSecurityNumberType">
    <xs:restriction base="xs:token">
      <xs:pattern value="[0-9]{8}[\-][0-9]{4}" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="nonEmptyStringType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:whiteSpace value="collapse" />
    </xs:restriction>
  </xs:simpleType>

</xs:schema>

