Schema/ims_mextv1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://tk450.se/ims/enterprise/extension/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="membership_extension">
    <xs:complexType>
      <xs:sequence>
		<xs:element name="subject_code" type="xs:string" minOccurs="0" />
		<xs:element name="course_code" type="xs:string" minOccurs="0" />
        <xs:element name="timestamp" type="xs:string" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>