Schema/imsep_epv1p1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="enterprise">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="comments" />
        <xs:element ref="properties" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="person" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="group" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="membership" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="type" type="xs:string" />
  <xs:element name="sourcedid">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="source" />
        <xs:element ref="id" />
      </xs:sequence>
      <xs:attribute name="sourcedidtype">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="New" />
            <xs:enumeration value="Old" />
            <xs:enumeration value="Duplicate" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="source" type="xs:string" />
  <xs:element name="id" type="xs:string" />
  <xs:element name="userid">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="useridtype" type="xs:string" />
          <xs:attribute name="password" type="xs:string" />
          <xs:attribute name="pwencryptiontype" type="xs:string" />
          <xs:attribute name="authenticationtype" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="email" type="xs:string" />
  <xs:element name="extension">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##any" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="properties">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="comments" />
        <xs:element ref="datasource" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="target" />
        <xs:element minOccurs="0" maxOccurs="1" ref="type" />
        <xs:element ref="datetime" />
        <xs:element minOccurs="0" maxOccurs="1" ref="extension" />
      </xs:sequence>
      <xs:attribute name="lang" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="datasource" type="xs:string" />
  <xs:element name="target" type="xs:string" />
  <xs:element name="datetime" type="xs:string" />
  <xs:element name="person">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="comments" />
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="sourcedid" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="userid" />
        <xs:element ref="name" />
        <xs:element minOccurs="0" maxOccurs="1" ref="demographics" />
        <xs:element minOccurs="0" maxOccurs="1" ref="email" />
        <xs:element minOccurs="0" maxOccurs="1" ref="url" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="tel" />
        <xs:element minOccurs="0" maxOccurs="1" ref="adr" />
        <xs:element minOccurs="0" maxOccurs="1" ref="photo" />
        <xs:element minOccurs="0" maxOccurs="1" ref="systemrole" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="institutionrole" />
        <xs:element minOccurs="0" maxOccurs="1" ref="datasource" />
        <xs:element minOccurs="0" maxOccurs="1" ref="extension" />
      </xs:sequence>
      <xs:attribute name="recstatus">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="1" />
            <xs:enumeration value="2" />
            <xs:enumeration value="3" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="name">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="fn" />
        <xs:element minOccurs="0" maxOccurs="1" ref="sort" />
        <xs:element minOccurs="0" maxOccurs="1" ref="nickname" />
        <xs:element minOccurs="0" maxOccurs="1" ref="n" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fn" type="xs:string" />
  <xs:element name="sort" type="xs:string" />
  <xs:element name="nickname" type="xs:string" />
  <xs:element name="n">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="family" />
        <xs:element minOccurs="0" maxOccurs="1" ref="given" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="other" />
        <xs:element minOccurs="0" maxOccurs="1" ref="prefix" />
        <xs:element minOccurs="0" maxOccurs="1" ref="suffix" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="partname" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="family" type="xs:string" />
  <xs:element name="given" type="xs:string" />
  <xs:element name="other" type="xs:string" />
  <xs:element name="prefix" type="xs:string" />
  <xs:element name="suffix" type="xs:string" />
  <xs:element name="partname">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="lang" type="xs:string" />
          <xs:attribute name="partnametype" type="xs:string" use="required" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="demographics">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="gender" />
        <xs:element minOccurs="0" maxOccurs="1" ref="bday" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="disability" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="gender" type="xs:string" />
  <xs:element name="bday" type="xs:string" />
  <xs:element name="disability" type="xs:string" />
  <xs:element name="tel">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute default="1" name="teltype">
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="1" />
                <xs:enumeration value="2" />
                <xs:enumeration value="3" />
                <xs:enumeration value="4" />
                <xs:enumeration value="Voice" />
                <xs:enumeration value="Fax" />
                <xs:enumeration value="Mobile" />
                <xs:enumeration value="Pager" />
                <xs:enumeration value="Work" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="adr">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="pobox" />
        <xs:element minOccurs="0" maxOccurs="1" ref="extadd" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="street" />
        <xs:element minOccurs="0" maxOccurs="1" ref="locality" />
        <xs:element minOccurs="0" maxOccurs="1" ref="region" />
        <xs:element minOccurs="0" maxOccurs="1" ref="pcode" />
        <xs:element minOccurs="0" maxOccurs="1" ref="country" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pobox" type="xs:string" />
  <xs:element name="extadd" type="xs:string" />
  <xs:element name="street" type="xs:string" />
  <xs:element name="locality" type="xs:string" />
  <xs:element name="region" type="xs:string" />
  <xs:element name="pcode" type="xs:string" />
  <xs:element name="country" type="xs:string" />
  <xs:element name="photo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="extref" />
      </xs:sequence>
      <xs:attribute name="imgtype" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="systemrole">
    <xs:complexType>
      <xs:attribute name="systemroletype" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="SysAdmin" />
            <xs:enumeration value="SysSupport" />
            <xs:enumeration value="Creator" />
            <xs:enumeration value="AccountAdmin" />
            <xs:enumeration value="User" />
            <xs:enumeration value="None" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="institutionrole">
    <xs:complexType>
      <xs:attribute name="primaryrole" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="Yes" />
            <xs:enumeration value="No" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="institutionroletype" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="Student" />
            <xs:enumeration value="Faculty" />
            <xs:enumeration value="Staff" />
            <xs:enumeration value="Alumni" />
            <xs:enumeration value="ProspectiveStudent" />
            <xs:enumeration value="Guest" />
            <xs:enumeration value="Other" />
            <xs:enumeration value="Administrator" />
            <xs:enumeration value="Observer" />
            <xs:enumeration value="Contact" />
            <xs:enumeration value="Child" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="extref" type="xs:string" />
  <xs:element name="group">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="comments" />
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="sourcedid" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="grouptype" />
        <xs:element ref="description" />
        <xs:element minOccurs="0" maxOccurs="1" ref="org" />
        <xs:element minOccurs="0" maxOccurs="1" ref="timeframe" />
        <xs:element minOccurs="0" maxOccurs="1" ref="enrollcontrol" />
        <xs:element minOccurs="0" maxOccurs="1" ref="email" />
        <xs:element minOccurs="0" maxOccurs="1" ref="url" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="relationship" />
        <xs:element minOccurs="0" maxOccurs="1" ref="groupmembers" />
        <xs:element minOccurs="0" maxOccurs="1" ref="datasource" />
        <xs:element minOccurs="0" maxOccurs="1" ref="extension" />
      </xs:sequence>
      <xs:attribute name="recstatus">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="1" />
            <xs:enumeration value="2" />
            <xs:enumeration value="3" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="grouptype">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="scheme" />
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="typevalue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="scheme" type="xs:string" />
  <xs:element name="typevalue">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="level" type="xs:string" use="required" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="description">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="short" />
        <xs:element minOccurs="0" maxOccurs="1" ref="long" />
        <xs:element minOccurs="0" maxOccurs="1" ref="full" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="short" type="xs:string" />
  <xs:element name="long" type="xs:string" />
  <xs:element name="full" type="xs:string" />
  <xs:element name="org">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="orgname" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="orgunit" />
        <xs:element minOccurs="0" maxOccurs="1" ref="type" />
        <xs:element minOccurs="0" maxOccurs="1" ref="id" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="orgname" type="xs:string" />
  <xs:element name="orgunit" type="xs:string" />
  <xs:element name="timeframe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="begin" />
        <xs:element minOccurs="0" maxOccurs="1" ref="end" />
        <xs:element minOccurs="0" maxOccurs="1" ref="adminperiod" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="begin">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="restrict" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="end">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="restrict" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="adminperiod" type="xs:string" />
  <xs:element name="enrollcontrol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="enrollaccept" />
        <xs:element minOccurs="0" maxOccurs="1" ref="enrollallowed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="enrollaccept" type="xs:string" />
  <xs:element name="enrollallowed" type="xs:string" />
  <xs:element name="url" type="xs:string" />
  <xs:element name="relationship">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="sourcedid" />
        <xs:element ref="label" />
      </xs:sequence>
      <xs:attribute default="1" name="relation">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="1" />
            <xs:enumeration value="2" />
            <xs:enumeration value="3" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="label" type="xs:string" />
  <xs:element name="groupmembers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="sourcedid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="membership">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="comments" />
        <xs:element ref="sourcedid" />
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="member" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="member">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="comments" />
        <xs:element ref="sourcedid" />
        <xs:element ref="idtype" />
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="role" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="idtype" type="xs:string" />
  <xs:element name="role">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="subrole" />
        <xs:element ref="status" />
        <xs:element minOccurs="0" maxOccurs="1" ref="userid" />
        <xs:element minOccurs="0" maxOccurs="1" ref="comments" />
        <xs:element minOccurs="0" maxOccurs="1" ref="datetime" />
        <xs:element minOccurs="0" maxOccurs="1" ref="timeframe" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="interimresult" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="finalresult" />
        <xs:element minOccurs="0" maxOccurs="1" ref="email" />
        <xs:element minOccurs="0" maxOccurs="1" ref="datasource" />
        <xs:element minOccurs="0" maxOccurs="1" ref="extension" />
      </xs:sequence>
      <xs:attribute name="recstatus">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="1" />
            <xs:enumeration value="2" />
            <xs:enumeration value="3" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute default="01" name="roletype">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="01" />
            <xs:enumeration value="02" />
            <xs:enumeration value="03" />
            <xs:enumeration value="04" />
            <xs:enumeration value="05" />
            <xs:enumeration value="06" />
            <xs:enumeration value="07" />
            <xs:enumeration value="08" />
            <xs:enumeration value="Learner" />
            <xs:enumeration value="Instructor" />
            <xs:enumeration value="ContentDeveloper" />
            <xs:enumeration value="Member" />
            <xs:enumeration value="Manager" />
            <xs:enumeration value="Mentor" />
            <xs:enumeration value="Administrator" />
            <xs:enumeration value="TeachingAssistant" />
            <xs:enumeration value="Guardian" />
            <xs:enumeration value="OtherResponsible" />
            <xs:enumeration value="Contact" />
            <xs:enumeration value="Student" />
            <xs:enumeration value="Child" />
            <xs:enumeration value="Course" />
            <xs:enumeration value="Subject" />
            <xs:enumeration value="Unit" />
            <xs:enumeration value="UnitDomain" />
            <xs:enumeration value="Class" />
            <xs:enumeration value="OtherGroup" />
            <xs:enumeration value="EducationGroup" />
            <xs:enumeration value="ContactGroup" />
            <xs:enumeration value="GradeAuthority" />
	    <xs:enumeration value="SchoolUnit" />
	    <xs:enumeration value="Department" />
	    <xs:enumeration value="DepartmentGroup" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="subrole" type="xs:string" />
  <xs:element name="status" type="xs:string" />
  <xs:element name="comments">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="lang" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="finalresult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="mode" />
        <xs:element minOccurs="0" maxOccurs="1" ref="values" />
        <xs:element minOccurs="0" maxOccurs="1" ref="result" />
        <xs:element minOccurs="0" maxOccurs="1" ref="comments" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="interimresult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="mode" />
        <xs:element minOccurs="0" maxOccurs="1" ref="values" />
        <xs:element minOccurs="0" maxOccurs="1" ref="result" />
        <xs:element minOccurs="0" maxOccurs="1" ref="comments" />
      </xs:sequence>
      <xs:attribute name="resulttype" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="mode" type="xs:string" />
  <xs:element name="values">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="list" />
        <xs:element minOccurs="0" maxOccurs="1" ref="min" />
        <xs:element minOccurs="0" maxOccurs="1" ref="max" />
      </xs:sequence>
      <xs:attribute name="valuetype" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="0" />
            <xs:enumeration value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="list" type="xs:string" />
  <xs:element name="max" type="xs:string" />
  <xs:element name="min" type="xs:string" />
  <xs:element name="result" type="xs:string" />
</xs:schema>