Release 1.0.3/Outcome API/Schema/tieto-edu-outcome-v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema  targetNamespace="http://open.tieto.com/edu/outcome/v1"
            xmlns="http://open.tieto.com/edu/outcome/v1"
            xmlns:xs="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified">
  <xs:annotation>
    <xs:documentation>
      Tieto Education - XML schema for grades and national tests.
      Version: 1.0
    </xs:documentation>
  </xs:annotation>

  <xs:complexType name="report">
    <xs:sequence>
      <xs:element name="date"  type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="assessor"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="student"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="unit" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="coursereport">
    <xs:complexContent>
      <xs:extension base="report">
        <xs:sequence>
          <xs:element name="program"  type="xs:string" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
<xs:complexType name="subjectreport">
    <xs:complexContent>
      <xs:extension base="report">
        <xs:sequence>
          <xs:element name="schoolyear"  type="xs:string" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="reportoutcome">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="semesterreport"  minOccurs="1" maxOccurs="unbounded"/>
        <xs:element ref="finalreport"  minOccurs="1" maxOccurs="unbounded"/>
        <xs:element ref="catalogextractionreport"  minOccurs="1" maxOccurs="unbounded" />
        <xs:element ref="diplomacertificatereport"  minOccurs="1" maxOccurs="unbounded"/>
        <xs:element ref="uppersecondaryschoolcertificatereport"  minOccurs="1" maxOccurs="unbounded"/>
        <xs:element ref="studycertificatereport"  minOccurs="1" maxOccurs="unbounded"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="gradeoutcome">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="subjectgrade"  minOccurs="1" maxOccurs="unbounded"/>
        <xs:element ref="coursegrade"  minOccurs="1" maxOccurs="unbounded"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="nationaltestoutcome">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="subjectnationaltest"  minOccurs="1" maxOccurs="unbounded"/>
        <xs:element ref="coursenationaltest"  minOccurs="1" maxOccurs="unbounded"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="finalreport">
    <xs:complexType >
      <xs:complexContent>
        <xs:extension base="subjectreport">
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="unbounded" ref="subjectreportgrade"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="semesterreport">
    <xs:complexType >
      <xs:complexContent>
        <xs:extension base="subjectreport">
          <xs:sequence>
            <xs:element name="semester"  type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="absence"  type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element minOccurs="1" maxOccurs="unbounded" ref="subjectreportgrade"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="catalogextractionreport">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="coursereport">
          <xs:sequence>
            <xs:element name="absence" type="xs:string"  minOccurs="1" maxOccurs="1"/>
            <xs:element minOccurs="1" maxOccurs="unbounded" ref="coursereportgrade"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="studycertificatereport">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="coursereport">
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="unbounded" ref="coursereportgrade"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="diplomacertificatereport">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="coursereport">
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="unbounded" ref="coursereportgrade"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="uppersecondaryschoolcertificatereport">
      <xs:complexType>
          <xs:complexContent>
              <xs:extension base="coursereport">
                  <xs:sequence>
                      <xs:element minOccurs="1" maxOccurs="unbounded" ref="coursereportgrade"/>
                  </xs:sequence>
              </xs:extension>
          </xs:complexContent>
      </xs:complexType>
  </xs:element>

  <xs:element name="coursegrade">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schoolname" type="xs:string"  minOccurs="1" maxOccurs="1" />
        <xs:element ref="course"  minOccurs="1" maxOccurs="1"/>
        <xs:element name="date" type="xs:date"  minOccurs="1" maxOccurs="1"/>
        <xs:element name="grade" type="xs:string"  minOccurs="1" maxOccurs="1" />
        <xs:element name="corrected" type="xs:string"  minOccurs="1" maxOccurs="1"/>
        <xs:element name="extended" type="xs:string"  minOccurs="0" maxOccurs="1"/>
        <xs:element name="trialperformed" type="xs:string"  minOccurs="0" maxOccurs="1"/>
        <xs:element minOccurs="1" maxOccurs="1" ref="student"/>
        <xs:element minOccurs="1" maxOccurs="1" ref="assessor"/>      
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="coursereportgrade">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="course"  minOccurs="1" maxOccurs="1"/>
        <xs:element name="date" type="xs:date"  minOccurs="1" maxOccurs="1"/>
        <xs:element name="grade" type="xs:string"  minOccurs="1" maxOccurs="1" />
        <xs:element name="corrected" type="xs:string"  minOccurs="1" maxOccurs="1"/>
        <xs:element name="extended" type="xs:string"  minOccurs="0" maxOccurs="1"/>
        <xs:element name="trialperformed" type="xs:string"  minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="subjectgrade">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schoolname" type="xs:string"  minOccurs="1" maxOccurs="1" />
        <xs:element ref="subject"  minOccurs="1" maxOccurs="1"/>
        <xs:element name="grade" type="xs:string"  minOccurs="1" maxOccurs="1" />
        <xs:element name="corrected" type="xs:string"  minOccurs="1" maxOccurs="1"/>
        <xs:element name="referstofinalgrade"  type="xs:string"  minOccurs="0" maxOccurs="1"/>
        <xs:element name="adaptedstudytime"  type="xs:string"  minOccurs="0" maxOccurs="1"/>
        <xs:element minOccurs="1" maxOccurs="1" ref="student"/>
        <xs:element minOccurs="1" maxOccurs="1" ref="assessor"/>      
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="subjectreportgrade">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="subject"  minOccurs="1" maxOccurs="1"/>
        <xs:element name="grade" type="xs:string"  minOccurs="1" maxOccurs="1" />
        <xs:element name="corrected" type="xs:string"  minOccurs="1" maxOccurs="1"/>
        <xs:element name="referstofinalgrade"  type="xs:string"  minOccurs="0" maxOccurs="1"/>
        <xs:element name="adaptedstudytime"  type="xs:string"  minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="unit">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schoolname" type="xs:string" minOccurs="1" maxOccurs="1"/>
        <xs:element name="schoolunitcode" type="xs:string" minOccurs="1" maxOccurs="1"/>
        <xs:element name="schoolunitname" type="xs:string" minOccurs="1" maxOccurs="1"/>
        <xs:element minOccurs="1" maxOccurs="1" ref="principal"/>
        <xs:element name="schooltype" type="xs:string" minOccurs="1" maxOccurs="1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="student">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:string" minOccurs="1" maxOccurs="1"/>
        <xs:element name="name" type="xs:string"  minOccurs="0" maxOccurs="1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="assessor">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:string" minOccurs="1" maxOccurs="1"/>
        <xs:element name="name" type="xs:string"  minOccurs="0" maxOccurs="1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="principal">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:string" minOccurs="1" maxOccurs="1"/>
        <xs:element name="name" type="xs:string"  minOccurs="0" maxOccurs="1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="course">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="code" type="xs:string" minOccurs="1" maxOccurs="1"/>
        <xs:element name="name" type="xs:string"  minOccurs="0" maxOccurs="1" />
        <xs:element name="points"  type="xs:string" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="subject">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="code" type="xs:string" minOccurs="1" maxOccurs="1"/>
        <xs:element name="name" type="xs:string"  minOccurs="0" maxOccurs="1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="coursenationaltest">
    <xs:complexType >
      <xs:sequence>
        <xs:element ref="student"  minOccurs="1" maxOccurs="1"/>
        <xs:element ref="course"  minOccurs="1" maxOccurs="1"/>
        <xs:element name="period" type="xs:string"  minOccurs="1" maxOccurs="1" />
        <xs:element name="semester" type="xs:string"  minOccurs="1" maxOccurs="1" />
        <xs:element name="grade" type="xs:string"  minOccurs="1" maxOccurs="1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="subjectnationaltest">
    <xs:complexType >
      <xs:sequence>
        <xs:element ref="student"  minOccurs="1" maxOccurs="1"/>
        <xs:element ref="subject"  minOccurs="1" maxOccurs="1"/>
        <xs:element name="period" type="xs:string"  minOccurs="1" maxOccurs="1" />
        <xs:element name="semester" type="xs:string"  minOccurs="1" maxOccurs="1" />
        <xs:element name="schoolyear" type="xs:string"  minOccurs="1" maxOccurs="1" />
        <xs:element name="grade" type="xs:string"  minOccurs="1" maxOccurs="1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>

